:host {
  width: 400px;
}

buttom {
  margin-top: 40px;
}

.new-product-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-height: 40vh;
  overflow-y: auto;
}

.new-product-container > div {
  display: flex;
  gap: 1rem;
}
