<div class="form-container">
  <h2>Sign up</h2>
  <form class="auth-form">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input name="username" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input name="email" type="email" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input name="password" type="password" matInput />
    </mat-form-field>
    <button mat-flat-button>Sign up</button>
  </form>
</div>
