<div class="modal-container">
  <form
    class="modal-form"
    [formGroup]="productForm"
    (ngSubmit)="onProductSubmit()"
  >
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input formControlName="name" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Prezzo</mat-label>
      <input formControlName="price" type="tel" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>IVA</mat-label>
      <input formControlName="vat" type="tel" matInput />
    </mat-form-field>
    <button mat-flat-button>
      {{ isEditMode ? "Modifica" : "Aggiungi" }} prodotto
    </button>
  </form>
</div>
