<div class="modal-container">
  <form
    class="modal-form"
    [formGroup]="productForm"
    (ngSubmit)="onProductSubmit()"
  >
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input formControlName="name" matInput />
      <mat-hint
        *ngIf="
          productForm.controls.price.touched &&
          productForm.controls.price.invalid
        "
        >Nome obbligatorio</mat-hint
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Prezzo</mat-label>
      <input formControlName="price" type="number" matInput />
      <mat-hint
        *ngIf="
          productForm.controls.price.touched &&
          productForm.controls.price.invalid
        "
        >Inserire prezzo maggior di 0</mat-hint
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Iva</mat-label>
      <mat-select formControlName="vat" required>
<!--        <mat-option>&#45;&#45;</mat-option>-->
        @for (vat of varArray; track vat) {
          <mat-option [value]="vat">{{vat}}</mat-option>
        }
      </mat-select>
      @if (productForm.hasError('required')) {
        <mat-error>
          Scegli Iva
        </mat-error>
      }
    </mat-form-field>
    <button mat-flat-button [disabled]="!productForm.valid" >
      {{ isEditMode ? "Modifica" : "Aggiungi" }} prodotto
    </button>
  </form>
</div>
