<div class="form-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" class="auth-form" (ngSubmit)="login()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input [formControl]="username" name="username" matInput  [value]="passedUsername"/>
      <mat-hint  *ngIf="loginForm.controls.username.touched && loginForm.controls.username.invalid">Username obbligatorio</mat-hint>

    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        [formControl]="password"
        [value]="passedPassword"
        name="password"
        type="password"
        matInput
      />
      <mat-hint *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">Password obbligatorio, min 4 caratteri</mat-hint>
    </mat-form-field>
    <button mat-flat-button [disabled]="!loginForm.valid" >Login</button>
  </form>
</div>
